
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div class="container">
    <form method="POST" action="/Applicant/Create">
        <div class="form-group">
            <label for="ApplicantFirstName">First Name:</label>
            <input type="text" class="form-control" placeholder="First Name" name="ApplicantFirstName" id="ApplicantFirstName">
        </div>
        <div class="form-group">
            <label for="ApplicantLastName">Last Name:</label>
            <input type="text" class="form-control" placeholder="Last Name" id="ApplicantLastName" name="ApplicantLastName">
        </div>
        <div class="form-group">
            <label for="ApplicantAddress">Address:</label>
            <textarea class="form-control" rows="5" id="ApplicantAddress" name="ApplicantAddress"></textarea>
        </div>
        <div class="form-group">
            <label for="ApplicantEmail">Email:</label>
            <input type="email" class="form-control" placeholder="example@example.com" id="ApplicantEmail" name="ApplicantEmail">
        </div>
        <div class="form-group">
            <label for="ApplicantPhone">Phone:</label>
            <input type="text" class="form-control" placeholder="9234567890" id="ApplicantPhone" name="ApplicantPhone">
        </div>
        <div class="form-group">
            <label for="ApplicantEducationSummary">Education Summary:</label>
            <textarea class="form-control" rows="5" id="ApplicantEducationSummary" name="ApplicantEducationSummary"></textarea>
        </div>
        <div class="form-group">
            <label for="ApplicantWorkExperience">Work Experience:</label>
            <textarea class="form-control" rows="5" id="ApplicantWorkExperience" name="ApplicantWorkExperience"></textarea>
        </div>
        <div class="form-group">
            <label for="ApplicantSkills">Skills:</label>
            <textarea class="form-control" rows="5" id="ApplicantSkills" name="ApplicantSkills"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



