@model HospitalProject.Models.ApplicantModel
@{
    ViewBag.Title = "Delete";
}
<div class="bg-danger">
    <h2>Are you sure you want to delete @Model.ApplicantFirstName?</h2>
    <form method="POST" action="/Applicant/Delete/@Model.ApplicantID">
        <div class="text-center">
            <a class="btn btn-success" href="/Applicant/Show/@Model.ApplicantID">Cancel</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
</div>
