@model HospitalProject.Models.TestimonialModels
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="navbar">
        <a class="navbar-link" href="/Testimonial/VisitorView">Back to List</a>
    </div>

    <form action="/Testimonial/Create" method="post">
        <div class="form-horizontal">
            <div>
                <label>Title : </label>
                <input type="text" name="testimonialTitle" id="testimonialTitle" />
            </div>
            <div>
                <label>Name of Patient : </label>
                <input type="text" name="patientName" id="patientName" />
            </div>
            <div>
                <label>Message : </label>
                <input type="text" name="testimonialMsg" id="testimonialMsg" />
            </div>
            <div>
                <label>Image : </label>
                <input type="file" name="testimonialImage" id="testimonialImage" />
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Submit Testimonial" />
            </div>
        </div>
    </form>
}
