@model HospitalProject.Models.TestimonialModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div>
    <h2 class="text-danger">Are you sure you want to delete the testimonial? </h2>
</div>
<div class="">
    <a href="/Testimonial/List">Cancel</a>
</div>
<form method="POST" action="/Testimonial/Delete/@Model.TestimonialID">
    <div><input type="submit" value="Confirm" /></div>
</form>