
@{
    ViewBag.Title = "ThankVisitor";
}

<h2>ThankVisitor</h2>
<div>Thank You for submitting your views.</div>
<div>Our Staff will publish it soon till then you can see other testimonials.</div>
<a class="btn btn-primary" href="VisitorView.cshtml">Back To list</a>