@model HospitalProject.Models.JobModel
@{
    ViewBag.Title = "Delete";
}
<div class="bg-danger">
    <h2>Are you sure you want to delete @Model.JobTitle?</h2>
    <form method="POST" action="/Job/Delete/@Model.JobID">
        <div class="text-center">
            <a class="btn btn-success" href="/Job/Show/@Model.JobID">Cancel</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
</div>

